@charset "utf-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #02735E, #025951, #034159);
}

main{
    background-color: white;
    width: 600px;
    margin: auto;
    border-radius: 7px;
    box-shadow: 5px 5px 5px #032c3d;
    padding: 10px;

}

h1{
    color:#0CF25D;
    text-align: center;
    border: #034159;
}

h2{
    color:#055474;
}

p{
    text-align: justify;
}